@charset "utf-8";
/* CSS初始化 */
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select { margin: 0; padding: 0 ;}
body{ font: "微软雅黑"; -webkit-text-size-adjust: 100%;}
a { text-decoration: none; }
a:hover { text-decoration: none; }
em { font-style: normal; }
li { list-style:none;  }
table { border-collapse: collapse; border-spacing: 0; }
p { word-wrap: break-word; }

.head{background: #53a3ec; text-align: center; height:90px;line-height: 90px;}
.return{ float:left; margin:20px; color:#ffffff;}
.trains{ font-size:28px;color:#ffffff; }
.moment{float:right;font-size:28px;margin-right:20px;color:#ffffff; }

.first{ padding: 40px 20px; background: #ffffff; font-size: 28px; border-bottom: 1px solid #dddddd;}
input{ border: none;font-size: 28px; color:#cccccc; margin-left: 20px;}

.second{ padding: 40px 20px; background: #ffffff; font-size: 28px;border-bottom: 1px solid #dddddd; }
.adult{ color:#53a3ec; margin-left: 20px;}
.second img{ float:right;}

.third{padding: 40px 20px; background: #ffffff; font-size: 28px;border-bottom: 1px solid #dddddd; }
.third img{ float:right;}

.fourth{padding: 40px 20px; background: #ffffff; font-size: 28px;border-bottom: 1px solid #dddddd;}

.button{padding: 40px;background: #ff6700; font-size: 30px;margin:40px 20px; text-align: center;border-radius: 5px;
color:#ffffff;}

.fifth{ float:right;font-size: 24px; color:#53a3ec; margin-right:20px; }