@charset "utf-8";
@charset "utf-8";

/* CSS初始化 */

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
	margin: 0;
	padding: 0;
}

body {
	font: "微软雅黑";
}

a {
	text-decoration: none;
}

em {
	font-style: normal;
}

li {
	list-style: none;
}

a:hover {
	color: #ffffff;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.mb20 {
	margin-bottom: 20px;
}

.mt20 {
	margin-top: 20px;
}

.mr20 {
	margin-left: 20px;
}

.ml20 {
	margin-right: 20px;
}

.mb10 {
	margin-bottom: 10px;
}

.mt10 {
	margin-top: 10px;
}

.mr10 {
	margin-left: 10px;
}

.ml10 {
	margin-right: 10px;
}

.pt20 {
	padding-top: 20px;
}

.pr20 {
	padding-right: 20px;
}

.pb20 {
	padding-bottom: 20px;
}

.pr20 {
	padding-left: 20px;
}

.pt10 {
	padding-top: 10px;
}

.pr10 {
	padding-right: 10px;
}

.pb10 {
	padding-bottom: 10px;
}

.pr10 {
	padding-left: 10px;
}

.f14 {
	font-size: 14px;
}

.f18 {
	font-size: 18px;
}

.f24 {
	font-size: 24px;
}

.f30 {
	font-size: 30px;
}

.c3 {
	color: #333333;
}

.c6 {
	color: #666666;
}

.c9 {
	color: #333333;
}

strong {
	color: #ff6700;
}

body {
	background: #f1f1f1;
}

.aui-content-padded {
	padding: 0.75rem;
	background-color: #ffffff;
	margin-top: 0.75rem;
}


/*搜索框開始*/


/*搜索框結束*/


/*banner開始*/


/*.t{background: url("../images/mall/banner.png") no-repeat center center; width:100%;}*/

.banner img {
	width: 100%;
}

.clear {clear:both;}

/*banner结束*/


/*推荐按钮开始*/

.nav_btn {
	height: 280px;
	font-size: 18px;
}

.first {
	width: 49%;
	padding: 40px 20px;
	height: 130px;
	background: #ffffff;
}

.second {
	width: 49%;
	padding: 40px 20px;
	height: 130px;
	background: #ffffff;
}

.nav_btn img {
	width: 88px;
	height: 64px;
}

.three {
	width: 49%;
	padding: 40px 20px;
	height: 130px;
	background: #ffffff;
	margin-top: 20px;
}

.four {
	width: 49%;
	padding: 40px 20px;
	height: 130px;
	background: #ffffff;
	margin-top: 20px;
}

.nav_btn p {
	font-size: 30px;
}


/*推荐按钮結束*/


/*熱門推薦開始*/


.recommended {
	height: 72px;
	font-size: 30px;
	color: #333;
	line-height: 72px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	margin-top: 20px;
}

.recommended i {
	margin-right: 10px;
}
.recommended span {
	border-left: 3px solid #ff8702;
	padding-left: 10px;
}

.recommended a {
	float: right;
}

.re {
	border-left: 3px solid #ff8702;
	padding-left: 10px;
}


/*熱門推薦結束*/


/*产品说明开始*/

.instructions {
	padding: 20px;
	background: #fff;
	margin-top: 20px;
	width: 49%;
}

header {
	margin-top: 0.75rem;
}

.aui-searchbar {
	background: transparent;
}

.aui-bar-nav .aui-searchbar-input {
	background-color: #ffffff;
}

.aui-bar-light .aui-searchbar-input {
	background-color: #f5f5f5;
}

/*导航栏*/
/*.aui-bar {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	min-height: 2.25rem;
	font-size: 0.9rem;
	text-align: center;
	display: table;
}
.aui-bar-nav {
	top: 0;
	line-height: 2.25rem;
	background-color: #f1f1f1;
	color: #ffffff;
}
.aui-bar-nav .aui-title {
	min-height: 2.25rem;
	position: absolute;
	margin: 0;
	text-align: center;
	white-space: nowrap;
	right: 5rem;
	left: 5rem;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 2;
}
.aui-bar-nav a {
	color: #ffffff;
}

.aui-bar-nav .aui-iconfont {
	position: relative;
	z-index: 20;
	font-size: 0.9rem;
	color: #ffffff;
	font-weight: 400;
	line-height: 2.25rem;
}
.aui-bar-nav .aui-pull-left {
	padding: 0 0.5rem;
	font-size: 0.8rem;
	font-weight: 400;
	z-index: 2;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
}
.aui-bar-nav .aui-pull-right {
	padding: 0 0.5rem;
	font-size: 0.8rem;
	font-weight: 400;
	z-index: 2;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
}
.aui-bar-nav .aui-btn {
	position: relative;
	z-index: 20;
	height: 2.25rem;
	line-height: 2.25rem;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	border-radius: 0.1rem;
	border-width: 0;
	background: transparent !important;
}*/


/*产品说明结束*/